@import url("https://fonts.google.com/specimen/Poppins");

@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
}

.bg-image {
  background-image: url("/images/bg-intro-desktop.png");
}

@media (max-width: 640px) {
  .bg-image {
    background-image: url("/images/bg-intro-mobile.png");
    /* background-position: 0; */
  }
}
